<script id="bootstrap-current-user" type="text/javascript">
  <% if logged_in? %>
  	window.currentUser = <%= render("api/users/user.json.jbuilder",
  		user: current_user).html_safe %>
  <% end %>
  window.bill = "<%= asset_path('billfrisell.jpg')%>"
  window.chris = "<%= asset_path('Chris-Speed.jpg')%>"
  window.charlie = "<%= asset_path('charlie-haden.jpg')%>"
  window.dewey = "<%= asset_path('Dewey-redman-sw2.jpg')%>"
  window.sonny = "<%= asset_path('sonnyrollins.jpg')%>"
  window.billie = "<%= asset_path('billie2.jpg')%>"
  window.ben = "<%= asset_path('benweb.jpg')%>"
  window.lester = "<%= asset_path('lester-billie.jpg')%>"
  window.bc = "<%= asset_path('bandcamp.png')%>"
  window.play = "<%= asset_path('play.jpg')%>"
  window.pause = "<%= asset_path('pause.jpg')%>"
  window.white = "<%= asset_path('white.jpg')%>"
</script>

<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" />
<main id="root"></main>
